body{
    width: 960px;
    background-image: url(pas1.jpg);
    margin: 0 auto;
    
    color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color:rgba(152, 66, 211, 0.63) ;
    background-position-x: right;
    
}

/* body::after {
    content: "";
    background: url(pas1.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */
  