<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="z-index.css">
  <title>Document</title>
</head>

<body>

  <div>
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
  </div>


  <hr>
  
  <div>
    <div class="first fourth"></div>
    <div class="second fifth"></div>
    <div class="third sixth"></div>
  </div>

  <hr>

  <div class="absolute_divs">
    <div class="first seventh"></div>
    <div class="second eight"></div>
    <div class="third nineth"></div>
  </div>



</body>

</html>