body{
    font-family: 'Courier New', monospace;
    font-size: xx-large;
    font-weight:300;
}
.prvi{
    background-color: DarkTurquoise;
    color: black;
    opacity: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.drugi{
    background-color: rgb(28, 26, 161 , 50%);
    color: rgb(100, 205, 209);
    font-style: oblique;
    font-family: 'Times New Roman', serif;

    
}
.treci{
    background-color: #24abad;
   color: red;
   font-family: Tahoma, sans-serif;
}
#left{
    opacity: 50%;
}
#left img{
    width: 500px;
    height: 500px;
}
.kolona1{
    background-color: aliceblue;
}
.kolona2{
    background-color:hotpink ;
}
.kolona3{
    background-color:rgb(145, 0, 125) ;
}
.kolona4{
    background-color:rgb(10, 143, 24) ;
}
.kolona5{
    background-color:rgb(148, 14, 5) ;
}
span{
    font-style: italic;
    font-weight: 900;
}