*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;

}
.container{
    width: 70%;
    margin: 10px auto;
}

.header img{
    width: 90px;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}

.title h1{
    margin-top: 50px;
    font-size: 38px;
}

.header{
    margin-bottom: 50px;
    
}

/* ASIDE AND MAIL SECTION*/
.aside{
    float: left;
    width: 40%;
    margin-top: 50px;
    
}
.main{
    float: left;
    width: 60%;
    border-left: 3px solid black;
    margin-top: 50px;
    
    
}
.article{
    margin-bottom: 20px;
    margin-left: 50px;
}
.aside h2,
.article h2 {
  margin: 5px 20px 20px 5px;
}