#p1{
    background-color: yellow;
    width: 300px;
    height: 500px;
    overflow: hidden;
    max-width: 300px;
}
#p2{
    background-color: red;
    overflow: scroll;
    width: 600px;
    height: 200px;
    max-height: 200px;
}

.border{
    background-color: yellow;
    border: 5px solid black;
    display: inline-block;
    margin-right: 20px;
    padding: 0;
}
.p2{
    border: dashed red ;
    padding: 50px;
}
.p1{
    border: 50px solid green;
    padding: 50px 0 0;

}
/*margins*/
#prvi{
    width: 300px;
    margin: 50px;
}
#drugi{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
#treci{
    width: 200px;
    margin: 0 0 100px;
    visibility: hidden;
    
}

.shadows{
    width: 960px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px ;
    margin-bottom: 50px ;
    padding-top:50px ;
    padding-bottom: 50px;
    background-color: red;
    color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-box-shadow: 15px 10px 27px 10px rgba(0,0,0,0.85); 
    box-shadow: 15px 10px 27px 10px rgba(0,0,0,0.85);
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px

}